# Alle temporären Dateien
*~

# Alle generierten Dateien (leider auch die header)
*.o
*_xdr.c
*_svc.c
*_clnt.c
*.h

# Alle kopierten .x dateien in den jeweiligen Unterordnern
server/*.x
client_result/*.x
client_request/*.x

# Alle binären Dateien die wir erzeugen
checkip
checkipresults
ipcheck_one_way_session_server
